@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
   <h3>Nhóm đang trong quá trình hoàn thiện dự án. Nên khó tránh khỏi những thiếu sót</h3>
    <h4>Rất mong nhận được sự đóng góp từ mọi người.</h4>
    <h4>Contact us: <p>Vũ Đức Minh-0969408900</p> </h4>
</main>